@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins ExtraLight';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Black';
    src: url('../fonts/Poppins-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}
// Font families
$Poppinsregular: 'Poppins Regular';
$Poppinsmedium: 'Poppins Medium';
$Poppinslight: 'Poppins Light';
$PoppinsextraLight: 'Poppins ExtraLight';
$Poppinsblack: 'Poppins Black';
$Poppinsbold: 'Poppins Bold';
$PoppinssemiBold: 'Poppins SemiBold';
$PoppinsextraBold: 'Poppins ExtraBold';
html,
body {
    font-family: $Poppinsregular;
}
h2 {
    font-family: $Poppinsbold;
}