.nexus-icon {
    &.ph {
        &:before {
            content: "";
            background-image: url(/src/images/icons/ph-ico.png);
            position: absolute;
            background-size: 100%;
            width: 17px;
            height: 18px;
            left: 0;
            margin: 0 15px;        
        }
    }
}