/*### Sass Variables ###*/

/*### Primary colors Variables ###*/
$geebung: #d19218;
$tuliptree: #eea739;
$white: #ffffff;
$black: #000000;
$gray82: #d1d1d1;
$gray55: #8c8c8c; 
$dustygray: #9f9897;

/*### Font Size Variables ###*/
$f14: 14px;
$f18: 18px;
$f22: 22px;